<form action="/admin/produto/criar" method="post">
  <div>
    <label>Digite o Nome do produto:</label>
    <br/>
    <input name="nomeP" placeholder="Digite aqui o nome do produto" size = 55px>
  </div>
  <div>
    <label>Digite o valor do produto:</label>
    <br/>
    <input type="number" name="valorP" placeholder="Digite aqui o valor do produto" size = 55px>
  </div>
  <div>
    <label>Digite a descrição do produto:</label>
    <br/>
    <textarea name= "descricaoP" style= "width:25rem; height:12rem" placeholder="Digite aqui a descrição do produto"></textarea>
  </div>
  <div>
    <label>Digite o link da imagem do produto:</label>
    <br/>
    <input name="imgP" placeholder="Digite aqui o link da imagem do produto" size = 55px>
  </div>
  <button type= "submit">enviar</button>
</form>