<!doctype html>
<html lang="pt">
    include includes/head.pug
    <body>
        include includes/menu.pug 
        <h1 style="text-align: center; margin-top:50px; margin-bottom:50px;">Realizar Compra</h1>
        <form class="form-buy">
            <div class="row mb-3 text-center">
                <div class="col-md-8 themed-grid-col">
                    <div class="pb-3">
                    .col-md-8
                    </div>
                    <div class="row">
                        <div class="col-md-6 themed-grid-col">
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                        <div class="col-md-6 themed-grid-col">
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 themed-grid-col">
                    <img src="/images/kakashi.webp" width="500" height="500" alt="">
                </div>
            </div>
        </form>
        
</body>
</html>