extends layout

block content
  h1= title
  h2 Links da Loja:
  a(href="/main") Pagina inicial do site de compras
  h2 Links administrador da Loja:
  a(href="/admin/produto")  lista de produto administrador
  br
  a(href="/admin/produto/criar") Formulario de criação de produtos