
<h1>Produtos Em destaque</h1>
<ul>
each product in productList
  <li> 
    <img src="#{product.image}">
    <a href="/main/#{product.id}"><h2>#{product.name}</h2></a>
    <p>#{product.price}</p>
  </li>
</ul>
